    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 100%;
        background: #ececec;    
    }

    *, html {
        --primaryGradient: linear-gradient(93.12deg, #247ba0 0.52%, #166678 100%);
        --secondaryGradient: linear-gradient(268.91deg, #247ba0 -2.14%, #166678  99.69%);
        --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
        --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
        --primary: #49a078;
    }

    /* CHATBOX
    =============== */
    .chatbox {
        position: absolute;
        bottom: 20px;
        right: 30px;
    }

    /* CONTENT IS CLOSE */
    .chatbox__support {
        display: flex;
        flex-direction: column;
        background: #000000;
        width: 300px;
        height: 350px;
        z-index: -123456;
        opacity: 0;
        transition: all .5s ease-in-out;
    }

    /* CONTENT ISOPEN */
    .chatbox--active {
        transform: translateY(-10px);
        z-index: 123456;
        opacity: 1;

    }

    /* BUTTON */
    .chatbox__button {
        text-align: right;
    }

    .send__button {
        padding: 6px;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }


    /* HEADER */
    .chatbox__header {
        position: sticky;
        top: 0;
        background: orange;
    }

    /* MESSAGES */
    .chatbox__messages {
        margin-top: auto;
        display: flex;
        overflow-y: scroll;
        overflow-x: hidden; 
        flex-direction: column-reverse;
        scrollbar-width: thin;
        scrollbar-color: rgb(119, 119, 119) rgb(198, 198, 198);
    }

    .messages__item {
        word-wrap: break-word;
        background: orange;
        max-width: 60.6%;
        width: fit-content;
    }

    .messages__item--operator {
        margin-left: auto;
    }

    .messages__item--visitor {
        margin-right: auto;
    }

    /* FOOTER */
    .chatbox__footer {
        position: sticky;
        bottom: 0;
    }

    .chatbox__support {
        background: #eff6e0;
        height: 610px;
        width: 500px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    /* HEADER */
    .chatbox__header {
        background: var(--primaryGradient);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 15px 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: var(--primaryBoxShadow);
        height: 50px;
    }

    .fa-robot{
        font-size: 30px;
        position: relative;
        top: 10px;
        left: -50px;
    }

    .chatbox__heading--header {
        font-size: 1.2rem;
        color: white;
        margin-left: 15px;
        position: relative;
        top: -30px;
        left: 30px;
    }

    /* Messages */
    .chatbox__messages {
        padding: 0 20px;
    }

    .messages__item {
        margin-top: 10px;
        background: #E0E0E0;
        padding: 8px 12px;
        max-width: 70%;
    }

    .messages__item--visitor,
    .messages__item--typing {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .messages__item--operator {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background: var(--primary);
        color: white;
    }

    /* FOOTER */
    .chatbox__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px;
        background: var(--secondaryGradient);
        box-shadow: var(--secondaryBoxShadow);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-top: 20px;
        height: 60px;
    }

    .chatbox__footer textarea {
        min-width: 80%;
        max-width: 80%;
        min-height: 70%;
        max-height: 100%;
        border: none;
        padding: 10px;
        border-radius: 30px;
        text-align: left;
        background: #e6e6e6;
        margin: 5px;
        resize: none;
        overflow-y: scroll;
        scrollbar-width:none;
        font-family: Arial, Helvetica, sans-serif;
    }

    .chatbox__footer textarea::placeholder {
        /* line-height: 0; */
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 600;
    }

    .chatbox__send--footer {
        background: transparent;
    }

    .fa-paper-plane{
        color: #ffffff;
        font-size: 15px;
    }
    .fa-paper-plane:hover{
        color: #aaaaaa;
    }

    #file_upload_button{
        background:transparent;
        border: none;
        cursor: pointer;
        margin: 5px;
    }

    .fa-paperclip{
        color: #ffffff;
        rotate: -45deg;
        font-size: 18px;
    }
    .fa-paperclip:hover{
        color: #aaaaaa;
    }

    #popup-btn{
        background: transparent;
        border: none;
        margin: 5px;
        cursor: pointer;
    }
    .fa-link{
        color: #ffffff;
        font-size: 18px;
    }
    .fa-link:hover{
        color: #aaaaaa;
    }
    .fa-circle-xmark{
        color: #f25f5c;
        font-size: 25px;
    }
    .fa-circle-xmark:hover{
        color: #aaaaaa;
    }
    .fa-circle-right{
        background: transparent;
        border: none;
        color: #247ba0;
        font-size: 25px;
    }
    .fa-circle-right:hover{
        color: #aaaaaa;
    }
    /* URL input upload popup */
    #popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: center;
        border-radius: 15px;
    }
    #url_label{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 600;
    }

    #popup-content {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
    }
    #popup-content label{
        position: relative;
        top: 0px;
        left: -55px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 600;
    }

    #popup-content input{
        border: 2px solid #247ba0;
        border-radius: 5px;
        padding: 5px;
        position: relative;
        top: 0px;
        left: -50px;
        width: 200px;
        height: 30px;
    }

    #upload_url{
        cursor: pointer;
        border: none;
        background: none;
        position: relative;
        top: 2px;
        right: 30px;
    }
    #close-btn {
        cursor: pointer;
        position: relative;
        top: -25px;
        left: 350px;
        margin: 15px;
    }
    .click-here-image {
        position: absolute;
        height: 50%;
        top: 235px; /* Adjust the positioning as needed */
        left: 50%; /* Adjust the positioning as needed */
        transform: translateX(-50%);
        z-index: 9999; /* Ensure the image appears above other elements */
    }
    .chatbox__button button,
    .chatbox__button button:focus,
    .chatbox__button button:visited {
        padding: 10px;
        background: white;
        border: none;
        outline: none;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        cursor: pointer;    
    }

    .fa-comments{
        color: #247ba0;
        font-size: 30px;
    }
    .fa-comments:hover{
        color: #aaaaaa;
    }

    .chatbox__content--header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .loader {
        width: 40px;
        aspect-ratio: 2;
        --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#ffffff00);
        background: 
        var(--_g) 0%   50%,
        var(--_g) 50%  50%,
        var(--_g) 100% 50%;
        background-size: calc(100%/3) 50%;
        animation: l3 1s infinite linear;
        margin: 5px;
        position: absolute;
        left: 20px;
        top: 10px;
    }
    @keyframes l3 {
        20%{background-position:0%   0%, 50%  50%,100%  50%}
        40%{background-position:0% 100%, 50%   0%,100%  50%}
        60%{background-position:0%  50%, 50% 100%,100%   0%}
        80%{background-position:0%  50%, 50%  50%,100% 100%}
    }
    .attach-file-icon {
        cursor: pointer;
    }

    .upload-file-button {
        display: none;
    }


    /* maximize button*/
    #maximizeButton {
        background: transparent;
        border: none;
        cursor: pointer;
        margin: 5px;
        color: #ffffff;
        position: absolute;
        right: 25px;
        top: 15px;
        font-size: 13px;
    }
    #maximizeButton:hover {
        color: #aaaaaa;
    }

    /* minimize button */
    #minimizeButton {
        background: transparent;
        border: none;
        cursor: pointer;
        margin: 5px;
        color: #ffffff;
        position: absolute;
        right: 60px;
        top: 15px;
        font-size: 13px;
    }
    #minimizeButton:hover {
        color: #aaaaaa;
    }


    .chatbox__support {
        transition: all 0.6s ease;
    }

    .expanded {
        width: 1300px; 
        height: 800px;
    }

    /* styles for the loading pop-up */
    .loading-popup {
        display: none;
        /* display: flex; */
        /* flex-direction: column; */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.384);
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
    .loading-text{
        color: #ffffff;
        font-size: 20px;
        font-weight: 300;
        margin: 15px;

    }

    .loader_main {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #f25f5c;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }





    /* Smartphones (portrait and landscape) ----------- */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px)
    and (orientation : portrait){
    /* Styles */
    .click-here-image{
        height: 20%;
        top: 1164px;
        left: 550px;
    }
    .chatbox__button button,
    .chatbox__button button:focus,
    .chatbox__button button:visited {
        padding: 35px;
    }
    .fa-comments{
        font-size: 50px;
    }
    #maximizeButton{
        display: none;
    }
    #minimizeButton{
        right: 50px;
        top: 50px;
        font-size: 30px;
    }
    .chatbox__support {
        width: 900px;
        height: 1500px;
    }
    .chatbox__header{
        height: 200px;
    }
    .fa-robot{
        font-size: 70px;
    }
    .chatbox__heading--header {
        margin-left: 100px;
        font-size: 2.5rem;
        position: relative;
        top: -50px;
        left: 100px;
    }
    .loader {
        width: 100px;
        margin: 10px;
        position: absolute;
        left: 40px;
        top: 50px;
    }
    .chatbox__footer {
        height: 200px;
    }
    .fa-paperclip{
        font-size: 45px;
    }
    .fa-paper-plane{
        font-size: 45px;
    }
    .fa-link{
        font-size: 45px;
    }
    .fa-circle-xmark{
        font-size: 50px;
    }
    .fa-circle-right{
        font-size: 50px;
    }
    .chatbox__footer textarea {
        min-width: 70%;
        max-width: 70%;
        min-height: 70%;
        max-height: 100%;
        padding: 40px;
        border-radius: 30px;
        margin: 5px;
        font-size: 35px;
    }

    .chatbox__footer textarea::placeholder {
        font-size: 35px;
    }

    /* Messages */
    .messages__item {
        margin-top: 10px;
        background: #E0E0E0;
        padding: 8px 12px;
        max-width: 70%;
    }

    .messages__item--visitor,
    .messages__item--typing {
        font-size: 40px;
    }

    .messages__item--operator {
        background: var(--primary);
        font-size: 40px;
    }

    /* Url upload popup */
    #url_label{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-weight: 600;
    }

    #popup-content {
        background: #fff;
        padding: 40px;
        border-radius: 8px;
        text-align: center;
    }
    #popup-content label{
        position: relative;
        top: 0px;
        left: -55px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 600;
    }

    #popup-content input{
        border: 3px solid #247ba0;
        border-radius: 10px;
        padding: 20px;
        width: 400px;
        height: 60px;
        font-size: 30px;
    }

    #upload_url{
        top: 2px;
        right: 0px;
    }
    #close-btn {
        top: -50px;
        left: 670px;
    }

    .loader_main{
        border: 15px solid #f3f3f3;
        border-top: 15px solid #247ba0;
        width: 100px;
        height: 100px;
    }


    }
    /* Smartphones (landscape) ----------- */
    @media only screen
    and (min-width : 320px)
    and (max-width : 1023px)
    and (orientation : landscape){
    /* Styles */
    .click-here-image {
        height: 30%;
        top: 240px;
        left: 400px;
    }
    .chatbox__button button,
    .chatbox__button button:focus,
    .chatbox__button button:visited {
        padding: 5px;
    }
    .fa-comments{
        font-size: 15px;
    }

    #maximizeButton{
    font-size: 12px; 
    top: 5px;  
    }
    #minimizeButton{
        font-size: 12px;
        top: 5px;
    }
    .chatbox__support {
        width: 500px;
        height: 360px;
    }
    .expanded {
        width: 800px; 
        height: 380px;
    }
    .chatbox__header{
        height: 50px;
    }
    .chatbox__heading--header {
        font-size: 1rem;
        position: relative;
        top: -30px;
    }
    .fa-robot{
        font-size: 22px;
        position: relative;
        top: 5px;
        left: -60px;
    }
    .loader {
        width: 25px;
        margin: 10px;
        top: 10px; 
    }
    .chatbox__footer {
        height: 60px;
        margin: 0px;
    }
    .fa-paperclip{
        font-size: 15px;
    }
    .fa-paper-plane{
        font-size: 15px;
    }
    .fa-link{
        font-size: 15px;
    }
    .fa-circle-xmark{
        font-size: 15px;
    }
    .fa-circle-right{
        font-size: 15px;
    }
    .chatbox__footer textarea {
        min-width: 70%;
        max-width: 70%;
        min-height: 70%;
        max-height: 100%;
        padding: 10px 15px 25px 15px;
        border-radius: 30px;
        margin: 5px;
        font-size: 12px;
    }

    .chatbox__footer textarea::placeholder {
        font-size: 12px;
    }


    .messages__item--visitor,
    .messages__item--typing {
        font-size: 15px;
    }

    .messages__item--operator {
        background: var(--primary);
        font-size: 15px;
    }

    /* Url upload popup */
    #url_label{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 600;
    }

    #popup-content {
        background: #fff;
        padding: 10px;
        border-radius: 8px;
        text-align: center;
        width: 300px; 
    }
    #popup-content label{
        position: relative;
        top: 10px;
        left: -60px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 600;
    }

    #popup-content input{
        border: 2px solid #247ba0;
        border-radius: 10px;
        padding: 5px;
        width: 150px;
        height: 20px;
        font-size: 12px;
        position: relative;
        top: 10px;
        left: -60px;
    }

    #upload_url{
        position: relative;
        top: -10px;
        right: -100px;
    }
    #close-btn {
        top: -13px;
        left: 255px;
    }


    }
    /* iPads (portrait and landscape) ----------- */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px) {
    /* Styles */
    }
    /* iPads Mini(landscape) ----------- */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape) {
    /* Styles */
    .click-here-image {
        height: 30%;
        top: 405px;
        left: 305px;
    }
    .expanded {
        width: 900px; 
        height: 650px;
    } 
    }
    /* iPad Air*/
    @media only screen
    and (min-device-width : 1025px)
    and (orientation : landscape) {
    /* Styles */
    .click-here-image {
        height: 30%;
        top: 340px;
        left: 325px;
    }
    .chatbox__support {
        width: 500px;
        height: 600px;
    }
    .expanded {
        width: 900px; 
        height: 700px;
    } 
    }
    /* iPads (portrait) ----------- */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1224px)
    and (orientation : portrait) {
    /* Styles */
    .click-here-image{
        height: 40%;
        top: 264px;
        left: 400px;
    }
    .chatbox__support{
        width: 600px;
        height: 500px;
    }
    .expanded {
        width: 800px; 
        height: 500px; 
    } 
    }

    /* Desktops and laptops ----------- */
    @media only screen
    and (min-width : 1225px) {
    /* Styles */

    .chatbox__support {
        width: 500px;
        height: 500px;
    }
    .expanded {
        width: 1200px; 
        height: 500px; 
    } 
    }
    /* Large screens ----------- */
    @media only screen
    and (min-width : 1600px) {
    /* Styles */
    .chatbox__support {
        width: 500px;
        height: 500px;
    }
    .expanded {
        width: 1300px; 
        height: 800px;
    } 
    }

    /* iPhone 4 ----------- */
    /* @media
    only screen and (-webkit-min-device-pixel-ratio : 1.5),
    only screen and (min-device-pixel-ratio : 1.5) {
        .chatbox__support{
            display: none;
        }
    } */