* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #1d1b98 0.52%, #444444 100%);
    --secondaryGradient: linear-gradient(268.91deg, #1d1b98 -2.14%, #444444  99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #1d1b98;
}

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-10px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
    scrollbar-width: thin;
    scrollbar-color: rgb(119, 119, 119) rgb(198, 198, 198);
    
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 510px;
    width: 500px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
    background: #e6e6e6;
    margin: 5px;
}

.chatbox__send--footer {
    background: transparent;
}

.fa-paper-plane{
    color: #ffffff;
}
.fa-paper-plane:hover{
    color: #888888;
}

#file_upload_button{
    background:transparent;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.fa-paperclip{
    color: #ffffff;
    rotate: -45deg;
}
.fa-paperclip:hover{
    color: #888888;
}

#popup-btn{
    background: transparent;
    border: none;
    margin: 5px;
    cursor: pointer;
}
.fa-link{
    color: #ffffff;
}
.fa-link:hover{
    color: #888888;
}
.fa-circle-xmark{
    color: #ffffff;
}
.fa-circle-xmark:hover{
    color: #888888;
}
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    border-radius: 15px;
  }
#url_label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

  #popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  #upload_url{
    border: none;
  }
  #close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 15px;
  }

.fa-messages{
    color: #3e3bff;
}
.fa-messages:hover{
    color: #888888;
}


.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.fa-comments{
    color: #3e3bff;
    font-size: 30px;
}
.fa-comments:hover{
    color: #888888;
}

.chatbox__content--header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#ffffff00);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
    margin: 5px;
    position: absolute;
    left: 20px;
    top: 25px;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }
  .attach-file-icon {
    cursor: pointer;
}

.upload-file-button {
    display: none;
}


/* ACCORDION */
.chatbox__accordion {
    margin-top: 10px;
}

.accordion-input {
    display: none;
}

.accordion-label {
    background-color: #546dff;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-input:checked + .accordion-label + .accordion-content {
    max-height: 1000px; /* Adjust this value based on your content */
}

/* maximize button*/
#maximizeButton {
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 5px;
    color: #ffffff;
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 15px;
}
#maximizeButton:hover {
    color: #888888;
}

.chatbox__support {
    transition: all 0.6s ease;
}

.expanded {
    width: 1300px; /* Set your desired maximum width */
    height: 800px; /* Set your desired maximum height */
}