<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                </div>
                <div class="chatbox__content--header">
                    <i class="fa fa-robot fa-xl" style="color: #ffffff; margin: 20px;"></i>
                    <h4 class="chatbox__heading--header">ChatBot</h4>
                    <button id="maximizeButton" onclick="toggleChatboxSize()">
                        <i class="fa fa-window-maximize"></i>
                    </button>
                </div>
            </div>
            <div class="chatbox__messages" id="message-container">
                <div></div>
            </div>
            <div class="chatbox__footer">
                                <!-- ############################################## -->
                <!-- message input -->
              <input type="text" name="message" placeholder="Write a message..." />
              <button type="submit" class="chatbox__send--footer send__button">
                <i class="fa fa-paper-plane fa-xl"></i>
              </button>
                <!-- ############################################## -->

                <!-- ############################################## -->
                 <!-- file upload button -->
                 <input type="file" name="file" id="fileInput" style="display: none;" onchange="fileSelected(this)" />
                 <button id="file_upload_button" type="button" onclick="openFileInput()">
                     <i class="fa fa-paperclip fa-rotate-by fa-xl"></i>
                 </button>
                 <!-- ############################################## -->
 
                 
                 <!-- ############################################## -->
               <!-- url upload button -->
               <button id="popup-btn">
                 <i class="fa fa-link fa-xl"></i>
               </button>
               <!-- url upload popup -->
               <div id="popup">
                 <div id="popup-content">
                   <span id="close-btn" onclick="closePopup()"><i class="fa fa-circle-xmark fa-xl"></i></span>
                   <label for="textInput" id="url_label">Enter URL</label>
                   <input type="text" id="urlInput">
                   <button id="upload_url" onclick="uploadURL()">
                    <i class="fa fa-circle-right fa-2xl" style="color: #1d1b98;"></i>
                    </button>
                 </div>
               </div>
               <!-- ############################################## -->



            </div>
        </div>
        <div class="chatbox__button">
            <button>
                <i class="fa-solid fa-comments"></i>
            </button>
        </div>
    </div>
</div>

    <script src="/static/script.js"></script>

</body>
</html>